---
layout: default
title: Home
desc: 'Website for 2026 Fall -UVA-CS Machine Learning: Machine learning Foundations and Deep Learning (Undergraduate Advanced)'
---

<p><a name="topPage"></a></p>

<div>

<ul>
  <li>Feel free to email me, when you find my typos or have comments. The covered materials are by no means an exhaustive list of machine learning, but are contents that we have taught or plan to teach in my machine learning introductory course.
</li>
  <li>
    Please pay attention to special dates:  <font color="#990000"><b>(1008)</b></font> Midterm Exam;   <font color="#990000"><b>(1208)</b></font> Final Exam;    <font color="#990000"><b>(1208)</b></font> Last lesson day of Fall 2026. <font color="#990000"><b>(1006, 1103, 1126)</b></font> no class, reading/ election/ holidays days;
  </li>
  <br>
  <li><p style="color:blue;">Disclaimer: it is quite hard to make important topics of machine learning fit on a one-semester schedule.  We aim to make the course reasonably digestible in an introductory manner. We try to focus on a modularity view by introducing important variables to digest machine learning into chunks regarding data/ representation / loss-functions / optimizations / model characteristics. That said, our goals here are to highlight the most foundational design choices in machine learning about algorithm designs,  workflows, what to learn and how to learn it, and to expose the trade-offs in those choices. We think this teaching style provides students with context concerning those choices and helps them build a much deeper understanding. </p>
 </li>
</ul>
</div>

<hr>


<h1>  Website for 2026 Fall -UVA-CS Machine Learning: Machine Learning Foundation, Deep Learning and Good Uses (Undergraduate Advanced)  </h1>



<hr>

<h2>  Course Schedule and Notes  </h2>


<p><font color="#990000"><b>The lectures' schedule below is tentative and is continually subject to change; We will move at whatever pace we find comfortable.&nbsp;</b></font>&nbsp;</p>

<p>
Full video playlists (every lecture, all modules):
&nbsp;<a href="https://www.youtube.com/playlist?list=PLHj6AQSqIUkOiQ6DfCOjs1Jc7ltXwuG9Z" target="_blank">Original Recordings</a>
&nbsp;|&nbsp;
<a href="https://www.youtube.com/playlist?list=PLMmpnvLjnh0I" target="_blank">AI-Clone Recordings</a>
</p>

<div class="posts">

<table id="datatab3"  summary="Table of Lectures" border="1">
<tr>
 <h3><b>
  <th>Date</th>
  <th>Week</th>
  <th>Qz</th>
  <th>HW <br> Due</th>
  <th>Title / Post</th>
  <th>Lecture PDF</th>
  <th>Focus</th>
  <th>Resources</th>
  </b>
  </h3>
</tr>

{% assign counter = 0 %}

{% assign currentTag = 0 %}
{% assign sorted = site.contents %}

{% assign ddates = "|0825|0827|0901|0903|0908|0910|0915|0917|0922|0924|0929|1001|1008|1013|1015|1020|1022|1027|1029|1105|1110|1112|1117|1119|1124|1201|1203|1208 " | split: "|" %}

{% assign dweeks = "|W1|W1|W2|W2|W3|W3|W4|W4|W5|W5|W6|W6|W7|W8|W8|W9|W9|W10|W10|W11|W12|W12|W13|W13|W14|W15| W15| W16 " | split: "|" %}

{% assign Qdates = "||Q0||Q1||Q2||Q3||Q4||Q5|||Q6||Q7||Q8|Q9||Q10||Q11|||Q12|" | split: "|" %}

{% assign HWdates = "|||||||HW1||||HW2||HMidterm|||||HW3|||HW4||||HW5|||HFinal" | split: "|" %}


{% for post in sorted %}


{% if currentTag == 0 %}
  {% unless post.lectureVersion contains 'current'  %}
    <tr><td align="center" bgcolor="#fff48f"  colspan="8">
      <font color="#990000"><b>WE ARE HERE</b></font></td>
    </tr>
    {% assign currentTag=currentTag | plus:1 %}
  {% endunless %}
{% endif %}

{% if  post.title contains "Section" %}
  <tr><td align="center" bgcolor="#bafdfb"  colspan="8">
      <font color="#990000"><h3><b>{{ post.title }}</b>
      </h3></font></td>
    </tr>
{% else %}

{% if  post.extra  %}
  <tr bgcolor="#cccdc2" >
  <td >Extra </td>
  <td >Extra </td>
  <td></td>
  <td></td>
{% elsif post.background %}
  <tr bgcolor="#c9defc" >
  <td >Background </td>
  <td >Background </td>
  <td></td>
  <td></td>
{% elsif post.platform %}
  <tr bgcolor="#81de76" >
  <td >Platform </td>
  <td >Platform </td>
  <td></td>
  <td></td>
{% else %}
  {% assign counter=counter | plus:1 %}
  <tr >
  <td>{{ ddates[counter] }} </td>
  <td>{{ dweeks[counter] }}</td>

  {% if  Qdates[counter]  contains 'Q'  %}
    <td>{{ Qdates[counter] }}</td>
  {% else %}
    <td></td>
  {% endif %}

  {% if  HWdates[counter]  contains 'H'  %}
    <td>{{ HWdates[counter] }}</td>
  {% else %}
    <td></td>
  {% endif %}

  {% endif %}

<td><a href="{{ site.baseurl }}{{ post.url }}" >{{ post.title }}</a></td>

{% if post.lecture %}
<td><a href="{{ site.baseurl }}/Lectures/{{ post.lecture }}.pdf"  target="_blank"> Slides: {{ post.lecture }}</a></td>
{% else %}
<td></td>
{% endif %}


<td align="center"><font color="#990000"><b>{{ post.categories }} </b></font></td>


{% assign vcount = 0 %}
{% if post.video contains 'Original</a>' or post.video contains 'AI-Clone</a>' %}
  {% assign vparts = post.video | split: '  |  ' %}
  {% assign vcount = vparts | size %}
{% endif %}

{% assign rcount = 0 %}
{% assign ccount = 0 %}
{% assign combined = '' %}
{% if post.notes %}{% assign combined = combined | append: post.notes %}{% endif %}
{% if post.morenotes %}{% assign combined = combined | append: ' ' | append: post.morenotes %}{% endif %}
{% assign linkparts = combined | split: '<a href="' %}
{% assign linkpartcount = linkparts | size %}
{% if linkpartcount > 1 %}
  {% for part in linkparts limit: linkpartcount offset: 1 %}
    {% assign urlpart = part | split: '"' | first %}
    {% if urlpart contains 'notebook' or urlpart contains 'ipynb' or urlpart contains 'github.com' %}
      {% assign ccount = ccount | plus: 1 %}
    {% else %}
      {% assign rcount = rcount | plus: 1 %}
    {% endif %}
  {% endfor %}
{% endif %}

{% if post.extraContent %}
  {% assign rcount = rcount | plus: 1 %}
{% endif %}

{% if post.notebooks %}
  {% assign nbparts = post.notebooks | split: '<a href="' %}
  {% assign nbpartcount = nbparts | size %}
  {% if nbpartcount > 1 %}
    {% assign ccount = ccount | plus: nbpartcount | minus: 1 %}
  {% endif %}
{% endif %}

<td>
{% if vcount > 0 %}{{ vcount }} video{% if vcount != 1 %}s{% endif %}{% endif %}
{% if vcount > 0 and rcount > 0 %} &middot; {% endif %}
{% if rcount > 0 %}{{ rcount }} reading{% if rcount != 1 %}s{% endif %}{% endif %}
{% if rcount > 0 and ccount > 0 %} &middot; {% endif %}
{% if ccount > 0 %}{{ ccount }} coding-read{% if ccount != 1 %}s{% endif %}{% endif %}
{% if vcount == 0 and rcount == 0 and ccount == 0 %}&mdash;{% endif %}
</td>


</tr>

{% endif %}

{% endfor %}

</table>


<div style="position: fixed; bottom: 76px; right:10px; width: 88px; height: 36px; background-color: #FFCF79;">
<a style="position: fixed; bottom:80px; right:10px;" href="#topPage" title="Back to Top">BackTop</a>
</div>
