---
layout: default
title: Home
desc: 'Website for 2026 Fall -UVA-CS Machine Learning: Machine learning Foundations and Deep Learning (Undergraduate Advanced)'
---

<p><a name="topPage"></a></p>

<div>

<ul>
  <li>Feel free to email me, when you find my typos or have comments. The covered materials are by no means an exhaustive list of machine learning, but are contents that we have taught or plan to teach in my machine learning introductory course.
</li>
  <li>
    Please pay attention to special dates:  <span class="callout">(1008)</span> Midterm Exam;   <span class="callout">(1208)</span> Final Exam;    <span class="callout">(1208)</span> Last lesson day of Fall 2026. <span class="callout">(1006, 1103, 1126)</span> no class, reading/ election/ holidays days;
  </li>
  <br>
  <li><p class="disclaimer">Disclaimer: it is quite hard to make important topics of machine learning fit on a one-semester schedule.  We aim to make the course reasonably digestible in an introductory manner. We try to focus on a modularity view by introducing important variables to digest machine learning into chunks regarding data/ representation / loss-functions / optimizations / model characteristics. That said, our goals here are to highlight the most foundational design choices in machine learning about algorithm designs,  workflows, what to learn and how to learn it, and to expose the trade-offs in those choices. We think this teaching style provides students with context concerning those choices and helps them build a much deeper understanding. </p>
 </li>
</ul>
</div>

<hr>


<h1>  Website for 2026 Fall -UVA-CS Machine Learning: Machine Learning Foundation, Deep Learning and Good Uses (Undergraduate Advanced)  </h1>



<hr>

<h2>  Course Schedule and Notes  </h2>


<p><span class="callout">The lectures' schedule below is tentative and is continually subject to change; We will move at whatever pace we find comfortable.&nbsp;</span>&nbsp;</p>

<p>
Full video playlists (every lecture, all modules):
&nbsp;<a href="https://www.youtube.com/playlist?list=PLHj6AQSqIUkOiQ6DfCOjs1Jc7ltXwuG9Z" target="_blank">Original Recordings</a>
&nbsp;|&nbsp;
<a href="https://www.youtube.com/playlist?list=PLMmpnvLjnh0I" target="_blank">AI-Clone Recordings (filler cleaned up</a>
</p>

<div class="posts">

<div class="table-scroll">
<table id="datatab3"  summary="Table of Lectures" border="1">
<tr>
 <h3><b>
  <th>Date</th>
  <th>Week</th>
  <th>Qz</th>
  <th>HW <br> Due</th>
  <th>Title / Post</th>
  <th>Lecture PDF</th>
  <th>Focus</th>
  <th class="resources-col">Resources</th>
  </b>
  </h3>
</tr>

{% assign counter = 0 %}

{% assign currentTag = 0 %}
{% assign sorted = site.contents %}

{% assign ddates = "|0825|0827|0901|0903|0908|0910|0915|0917|0922|0924|0929|1001|1008|1013|1015|1020|1022|1027|1029|1105|1110|1112|1117|1119|1124|1201|1203|1208 " | split: "|" %}

{% assign dweeks = "|W1|W1|W2|W2|W3|W3|W4|W4|W5|W5|W6|W6|W7|W8|W8|W9|W9|W10|W10|W11|W12|W12|W13|W13|W14|W15| W15| W16 " | split: "|" %}

{% assign Qdates = "||Q0||Q1||Q2||Q3||Q4||Q5|||Q6||Q7||Q8|Q9||Q10||Q11|||Q12|" | split: "|" %}

{% assign HWdates = "|||||||HW1||||HW2||HMidterm|||||HW3|||HW4||||HW5|||HFinal" | split: "|" %}


{% for post in sorted %}

{% assign LidxStr = '' %}

{% if currentTag == 0 %}
  {% unless post.lectureVersion contains 'current'  %}
    <tr><td align="center" class="row-highlight"  colspan="8">
      <span class="callout">WE ARE HERE</span></td>
    </tr>
    {% assign currentTag=currentTag | plus:1 %}
  {% endunless %}
{% endif %}

{% if  post.title contains "Section" %}
  <tr><td align="center" class="row-section"  colspan="8">
      <h3 class="callout"><b>{{ post.title }}</b>
      </h3></td>
    </tr>
{% else %}

{% if  post.extra  %}
  <tr class="row-extra" >
  <td >Extra </td>
  <td >Extra </td>
  <td></td>
  <td></td>
{% elsif post.background %}
  <tr class="row-background" >
  <td >Background </td>
  <td >Background </td>
  <td></td>
  <td></td>
{% elsif post.platform %}
  <tr class="row-platform" >
  <td >Platform </td>
  <td >Platform </td>
  <td></td>
  <td></td>
{% else %}
  {% assign counter=counter | plus:1 %}
  {% if counter < 10 %}
    {% assign LidxStr = 'L0' | append: counter %}
  {% else %}
    {% assign LidxStr = 'L' | append: counter %}
  {% endif %}
  <tr >
  <td>{{ ddates[counter] }} </td>
  <td>{{ dweeks[counter] }}</td>

  {% if  Qdates[counter]  contains 'Q'  %}
    <td>{{ Qdates[counter] }}</td>
  {% else %}
    <td></td>
  {% endif %}

  {% if  HWdates[counter]  contains 'H'  %}
    <td>{{ HWdates[counter] }}</td>
  {% else %}
    <td></td>
  {% endif %}

  {% endif %}

<td><a href="{{ site.baseurl }}{{ post.url }}" >{{ post.title }}</a></td>

{% if post.lecture %}
<td><a href="{{ site.baseurl }}/Lectures/{{ post.lecture }}.pdf"  target="_blank"> Slides: {{ post.lecture }}</a></td>
{% else %}
<td></td>
{% endif %}


<td align="center"><span class="callout">{{ post.categories }} </span></td>


{% include resource-stats.html post=post %}

<td class="resources-col">
<a href="{{ site.baseurl }}{{ post.url }}">
{% if LidxStr != '' %}{{ LidxStr }} &middot; {% endif %}
{% if vcount > 0 %}{{ vcount }} video{% if vcount != 1 %}s{% endif %}{% endif %}
{% if vcount > 0 and rcount > 0 %} &middot; {% endif %}
{% if rcount > 0 %}{{ rcount }} reading{% if rcount != 1 %}s{% endif %}{% endif %}
{% if rcount > 0 and ccount > 0 %} &middot; {% endif %}
{% if ccount > 0 %}{{ ccount }} coding-read{% if ccount != 1 %}s{% endif %}{% endif %}
{% if vcount == 0 and rcount == 0 and ccount == 0 %}&mdash;{% endif %}
</a>
</td>


</tr>

{% endif %}

{% endfor %}

</table>
</div>


<div class="back-to-top-box">
<a class="back-to-top-link" href="#topPage" title="Back to Top">BackTop</a>
</div>
